[submodule "deps/flexdis86"]
	path = deps/flexdis86
	url = git@github.com:GaloisInc/flexdis86.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "deps/dwarf"]
	path = deps/dwarf
	url = git@github.com:GaloisInc/dwarf.git
[submodule "deps/parameterized-utils"]
	path = deps/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
[submodule "deps/dismantle"]
	path = deps/dismantle
	url = git@github.com:travitch/dismantle.git
[submodule "deps/macaw"]
	path = deps/macaw
	url = git@github.com:GaloisInc/macaw.git
[submodule "deps/semmc"]
	path = deps/semmc
	url = git@github.com:GaloisInc/semmc.git
[submodule "deps/macaw-semmc"]
	path = deps/macaw-semmc
	url = git@github.com:GaloisInc/macaw-semmc.git
[submodule "deps/crucible"]
	path = deps/crucible
	url = git@github.com:GaloisInc/crucible.git
[submodule "deps/llvm-pretty"]
	path = deps/llvm-pretty
	url = git@github.com:elliottt/llvm-pretty.git
[submodule "submodules/macaw-loader"]
	path = deps/macaw-loader
	url = git@github.com:GaloisInc/macaw-loader.git
