packages: deps/elf-edit/
          deps/flexdis86/
          deps/flexdis86/binary-symbols
          deps/dwarf/
          deps/macaw/base/
          deps/macaw/refinement/
          deps/macaw/x86/
          deps/macaw/symbolic/
          deps/macaw/x86_symbolic/
          deps/parameterized-utils/
          deps/crucible/crucible/
          deps/what4/what4/
          deps/what4-serialize/
          deps/crucible/crucible-llvm/
          deps/llvm-pretty/
          deps/arm-asl-parser/
          deps/asl-translator/
          deps/dismantle/dismantle-tablegen/
          deps/dismantle/dismantle-ppc/
          deps/dismantle/dismantle-arm-xml/
          deps/semmc/semmc/
          deps/semmc/semmc-ppc/
          deps/semmc/semmc-learning/
          deps/semmc/semmc-synthesis/
          deps/semmc/semmc-aarch32/
          deps/macaw-loader/macaw-loader/
          deps/macaw-loader/macaw-loader-ppc/
          deps/macaw-loader/macaw-loader-x86/
          deps/macaw-loader/macaw-loader-aarch32/
          deps/macaw/macaw-ppc/
          deps/macaw/macaw-ppc-symbolic/
          deps/macaw/macaw-semmc/
          deps/macaw/macaw-aarch32/
          deps/macaw/macaw-aarch32-symbolic/
          renovate/
          renovate-x86/
          renovate-ppc/
          renovate-aarch32/
          refurbish/
