packages: deps/elf-edit/
          deps/flexdis86/
          deps/flexdis86/binary-symbols
          deps/dwarf/
          deps/macaw/base/
          deps/macaw/x86/
          deps/macaw/symbolic/
          deps/macaw/x86_symbolic/
          deps/parameterized-utils/
          deps/crucible/crucible/
          deps/crucible/what4/
          deps/crucible/crucible-llvm/
          deps/llvm-pretty/
          deps/dismantle/dismantle-tablegen/
          deps/dismantle/dismantle-ppc/
          deps/semmc/semmc/
          deps/semmc/semmc-ppc/
          deps/macaw-semmc/macaw-ppc/
          deps/macaw-semmc/macaw-ppc-symbolic/
          deps/macaw-semmc/macaw-semmc/
          renovate/
          renovate-x86/
          renovate-ppc/
          refurbish/
